<header class="site-header">
    <div class="container header-inner">
        <a href="{{ "/" | relURL }}" class="brand">
            <span class="brand-name">Mohamed Y. Ayoub</span>
            <span class="brand-title">Remote Sensing & GIS</span>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ "/portfolio/" | relURL }}">Portfolio</a></li>
                <li><a href="{{ "/projects/" | relURL }}">Projects</a></li>
                <li><a href="{{ "/blog/" | relURL }}">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
