<header class="site-header">
    <div class="container header-inner">
        <a href="{{ "/" | absURL }}" class="brand">
            <span class="brand-name">Mohamed Y. Ayoub</span>
            <span class="brand-title">Remote Sensing & GIS</span>
        </a>
        <nav class="site-nav">
            <ul>
                <li><a href="{{ "portfolio/" | absURL }}">Portfolio</a></li>
                <li><a href="{{ "projects/" | absURL }}">Projects</a></li>
                <li><a href="{{ "blog/" | absURL }}">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
